<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jeu du Pendu - Accueil</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <script src="/js/script.js" type="text/javascript" defer></script> 
    </head>
    <body>
        <div>
            <h1>Bonjour, bienvenue dans Groupie Tracker</h1>
            
            <form method="post">
                <input type="button" value="Cliquez ici" onclick="Fetch()" />
            </form>
            <p id="affichage"></p>
            <div id="advice-container"></div>
        </div>
    </body>
</html>
