#titre {
  text-align: center; /* Centre le texte horizontalement */
  background-color: lightblue; /* Fond bleu clair */
  padding: 20px; /* Ajoute de l'espace interne */
  border: 2px solid blue; /* Bordure bleue */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre pour un effet de relief */
}
/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #5e5e5e;
    padding-top: 60px;
    transition: left 0.5s ease;

  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #a7a7a7;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #111;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 6px;
    font-size: 50px;
  }
  #Copyright\ Groupie\ tracker {
    justify-content: center;
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#openBtn {
    display: inline-block;
    position: absolute; /* Positionnement absolu par rapport au parent */
    top: 0; /* Ajustez si nécessaire */
    left: 0; /* Ajustez si nécessaire */
    width: 30px; /* Largeur identique à celle de .burger-icon */
    height: 24px; /* Hauteur identique à celle de .burger-icon */
    z-index: 10; /* Assurez-vous qu'il est au-dessus d'autres éléments */
    cursor: pointer; /* Pointeur pour indiquer un clic */
    background-color: transparent; /* Fond transparent */
    border: none; /* Supprime les bordures */
}

.artist-card {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  flex-direction: column; /* Organise les éléments verticalement */
  
}