<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie tracker</title>
    <script src="../js/script.js" charset="utf-8" defer></script>
    <link rel="stylesheet" href="../css/artist.css">
    <link rel="shortcut icon" href="../utiles/favicon.ico" type="icon" />
</head>
<body>
<header>
    <li><a href="/"><h1>Acceuil</h1></a></li>
    <header>
      <nav class="header">
          <h1 class="header-title">Groupie Tracker</h1>
      </nav>
  </header>
</header>

<section class="content">
    <h1>{{.Name}}</h1>
    <img src="{{.Image}}" alt="{{.Name}} Image" class="artist-image">
    <p><strong>Creation Date:</strong> {{.CreationDate}}</p>
    
    <section class="members">
        <h2>Members:</h2>
        <ul>
            {{range .Members}}
                <li>{{.}}</li>
            {{end}}
        </ul>
    </section>

    <section class="relations">
        <h2>Concert Locations & Dates:</h2>
        {{if .DatesLocations}}
          {{range $location, $dates := .DatesLocations}}
          <div style="overflow: hidden; zoom: 0.8; position: relative;">
              <!-- Utilisation correcte d'un iframe avec une URL spécifiqrrue -->
              <iframe
                width="600"
                height="450"
                style="border:0; overflow-y: scroll;"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                src="https://nominatim.openstreetmap.org/ui/search.html?q={{$location}}"
                
                id="map-iframe">  
              </iframe>
              <h3>{{$location}}</h3>
              <ul>
                {{range $dates}}
                  <li>{{.}}</li>
                {{end}}
              </ul>
            </div>
          {{end}}
        {{else}}
          <p>No concert locations available.</p>
        {{end}}
    </section>
</section>

<section class="footer">
    <p id="Copyright Groupie tracker">&copy <script>document.write( new Date().getUTCFullYear() );</script> Groupie Tracker by Ynov Montpellier</p>
</section>
</body>
</html>
