<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker - {{ .Artists.Name }}</title>
    <link rel="stylesheet" href="../css/artist.css">
    <link rel="shortcut icon" href="../utiles/favicon.ico" type="image/x-icon">
    <script src="../js/script.js" defer></script>
</head>
<body>
    <!-- Header Section -->
    <header class="site-header">
        <nav class="navbar">
            <a href="/" class="logo">
                <h1>Accueil</h1>
            </a>
            <h1 class="page-title">Groupie Tracker</h1>
        </nav>
    </header>

    <!-- Main Content Section -->
    <main class="artist-details">
        <!-- Artist Info -->
        <section class="artist-info">
            <h1 class="artist-name">{{.Artists.Name}}</h1>
            <img src="{{.Artists.Image}}" alt="Image of {{.Artists.Name}}" class="artist-image">
            <p class="creation-date">
                <strong>Date de Création:</strong> {{.Artists.CreationDate}}
            </p>
        </section>

        <!-- Members Section -->
        <section class="artist-members">
            <h2>Membres</h2>
            {{if .Members}}
            <ul class="members-list">
                {{range .Members}}
                    <li>{{.Artists}}</li>
                {{end}}
            </ul>
            {{else}}
              <p class="no-members">Aucun membre disponible.</p>
            {{end}}
        </section>

        </main>

    <!-- Footer Section -->
    <footer class="site-footer">
        <p>&copy; <script>document.write(new Date().getFullYear());</script> Groupie Tracker by Ynov Montpellier</p>
    </footer>
</body>
</html>
