<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Groupie tracker</title>
    </head>
  <body>
<header>
    <div id="mySidenav" class="sidenav">
        <h1>Artists</h1>
        <a id="closeBtn" href="#" class="close">x</a>
        <ul>
            <h2>Menu</h2>
          <li><a href="../templates/index.html">Home</a></li>
          <li><a href="../templates/artists.html">Artists</a></li>
          <li><a href="../templates/Apropos.html">About</a></li>
        </ul>
      </div>
      <a id="openBtn">
        <span class="burger-icon">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </a>      
</header>
<section class="header"></section>

<section class="footer">
    <p id="Copyright Groupie tracker">&copy <script>document.write( new Date().getUTCFullYear() );</script> Groupie Tracker by Ynov Montpellier</p>
  </section>
  </body>
  <link rel="stylesheet" href="../css/index.css">
  <script src="../js/script.js" charset="utf-8"></script>
</html>