<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie tracker</title>
    <script src="../js/script.js" charset="utf-8" defer></script>
    <script src="../js/location.js" rel="script"></script>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
<header>
    <div id="mySidenav" class="sidenav">
        <h1>Artists</h1>
        <a id="closeBtn" href="#" class="close">x</a>
        <ul>
            <h2>Menu</h2>
            <li><a href="../templates/index.html">Home</a></li>
            <li><a href="../templates/artists.html">Artists</a></li>
            <li><a href="../templates/Apropos.html">About</a></li>
        </ul>
    </div>
    <a id="openBtn">
        <span class="burger-icon">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </a>
</header>

<section class="header">
    <h1>Artists</h1>
    <p>This page displays a list of artists and their concert locations.</p>
</section>

<section class="content">
    <h1>{{.Name}}</h1>
    <img src="{{.Image}}" alt="{{.Name}} Image" class="artist-image">
    <p><strong>Creation Date:</strong> {{.CreationDate}}</p>
    
    <section class="members">
        <h2>Members:</h2>
        <ul>
            {{range .Members}}
                <li>{{.}}</li>
            {{end}}
        </ul>
    </section>
    <section class="relations">
      <h2>Concert Locations & Dates:</h2>
      
      {{if .DatesLocations}} 
          {{range $location, $dates := .DatesLocations}} 
              <div class="relation-card">
                  <h3>{{ $location }}</h3>
                  <ul>
                      {{range $dates}} <!-- Liste les dates pour chaque lieu -->
                          <li>{{.}}</li>
                      {{end}}
                  </ul>
              </div>
          {{end}}
      {{else}}
          <p>No dates and locations  available</p> 
      {{end}}

  </section>
  

<section class="footer">
    <p id="Copyright Groupie tracker">&copy <script>document.write( new Date().getUTCFullYear() );</script> Groupie Tracker by Ynov Montpellier</p>
</section>
</body>
</html>
