<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie tracker</title>
    <script src="../js/script.js" charset="utf-8" defer></script>
    <script src="../js/location.js" charset="utf-8" defer></script>
    <link rel="stylesheet" href="../css/artist.css">
    <link rel="shortcut icon" href="../utiles/favicon.ico" type="image/x-icon">
    <script src="../js/script.js" defer></script>
</head>
<body>
    <!-- Header Section -->
    <header class="site-header">
        <nav class="navbar">
            <a href="/" class="logo">
                <h1>Accueil</h1>
            </a>
            <h1 class="page-title">Groupie Tracker</h1>
        </nav>
    </header>

    <!-- Main Content Section -->
    <main class="artist-details">
        <!-- Artist Info -->
        <section class="artist-info">
            <h1 class="artist-name">{{.Artists.Name}}</h1>
            <img src="{{.Artists.Image}}" alt="Image of {{.Artists.Name}}" class="artist-image">
            <p class="creation-date">
                <strong>Date de Création:</strong> {{.Artists.CreationDate}}
            </p>
        </section>

    <section class="relations">
        <h2>Concert Locations & Dates:</h2>
        {{if .DatesLocations}}
          {{range $location, $dates := .DatesLocations}}
          <div style="overflow: hidden; zoom: 0.8; position: relative;">
              <!-- Utilisation correcte d'un iframe avec une URL spécifiqrrue -->
              <iframe
                    id="map-iframe"
                    width="600"
                    height="450"
                    style="border: none;"
                    loading="lazy"
                    src="https://www.openstreetmap.org/export/embed.html?bbox=${bbox}">
                </iframe>
              <h3>{{$location}}</h3>
              <ul>
                {{range $dates}}
                  <li>{{.}}</li>
                {{end}}
            </ul>
            {{else}}
              <p class="no-members">Aucun membre disponible.</p>
            {{end}}
        </section>

        </main>

    <!-- Footer Section -->
    <footer class="site-footer">
        <p>&copy; <script>document.write(new Date().getFullYear());</script> Groupie Tracker by Ynov Montpellier</p>
    </footer>
</body>
</html>
