<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Home.css">
    <script src="../js/script.js" charset="utf-8"></script>
    <title>Groupie Tracker</title>
    </head>
<body>
    <header>
        <nav class="header">
            <a id="icon" class="logo" href="/"><img id="icon" src="../utiles/logo.png" /></a>
            <h1 class="header-title">Groupie Tracker</h1>
            <h3 class="header-content">Bienvenue dans Groupie Tracker. Retrouvez toutes les dates et lieux des concerts de vos artistes préférés!</h3>
        </nav>
    </header>

    <section class="search-sort">
        <!-- Formulaire de filtres -->
        <form method="GET" action="/" class="filter-form">
            <h4>Filtres</h4>

            <!-- Filtre Date de création -->
            <label for="creationDate">Date de création:</label>
            <input type="number" id="creationDate" name="creationDate" placeholder="Ex: 2023" class="filter-input">

            <!-- Filtre Date du premier album -->
            <label for="firstAlbum">Date du premier album:</label>
            <input type="number" id="firstAlbum" name="firstAlbum" placeholder="Ex: 2001" class="filter-input">

            <!-- Filtre Nombre de membres -->
            <label for="memberCount">Nombre de membres:</label>
            <input type="number" id="memberCount" name="memberCount" placeholder="Ex: 1, 2, 3..." class="filter-input">

            <!-- Filtre Lieux de concerts -->
            <label for="locations">Lieux de concerts:</label>
            <input type="text" id="locations" name="locations" placeholder="Paris, New York, ..." list="villes" class="filter-input">
            <datalist id="villes">
                {{range .}} <!-- Parcourt tous les artistes -->
                    {{range $city, $dates := .DatesLocations}} <!-- Parcourt les villes -->
                        <option value="{{$city}}">
                    {{end}}
                {{end}}
            </datalist>

            <button type="submit" class="filter-button">Appliquer les filtres</button>
        </form>

        <!-- Formulaire de recherche par nom d'artiste -->
        <form action="/" method="GET" class="search-form">
            <label for="search" class="search-label">Rechercher un artiste :</label>
            <input type="text" id="search" name="search" placeholder="Enter artist name" list="suggestions" required class="search-input">
            <datalist id="suggestions">
                {{range .}} <!-- Parcourt tous les artistes -->
                    <option value="{{.Name}}">
                {{end}}
            </datalist>
            <button type="submit" class="search-button">Rechercher</button>
        </form>
    </section>

    <section class="content">
        <!-- Gestion des erreurs -->
        {{if .}}
        <!-- Liste des artistes -->
        {{range .}}
        <div class="artist-card">
            <h3 class="artist-name">{{.Name}}</h3>
            <img src="{{.Image}}" alt="{{.Name}} Image" class="artist-image">
            <form action="/artists" method="get">
                <button name="id" id="artist-button" value="{{.Id}}" class="view-button">Voir Plus</button>
            </form>
        </div>
        {{end}}
        {{end}}
    </section>

    <section class="footer">
        <p id="Copyright Groupie Tracker">&copy; <script>document.write(new Date().getUTCFullYear());</script> Groupie Tracker by Ynov Montpellier</p>
    </section>
</body>
</html>
